@model Assignment2.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout";
}
<div id="myTabs">

    <ul>
        <li>Change Password</li>
    </ul>

    <div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Password" class="form-control" aria-describedby="passwordHelpInline" placeholder="Enter Password To Be Change">
                    <small id="passwordHelpInline" class="text-muted">
                        Must be 8-20 characters long!
                    </small>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ConfirmPassword" class="form-control" aria-describedby="passwordHelpInline" placeholder="Enter Password To Be Change">
                    <small class="text-muted">
                        Must be 8-20 characters long.
                    </small>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-10">
                    <button type="submit" asp-action="EditPassword" class="btn btn-primary">Update</button>
                    <a asp-action="Home" class="btn btn-primary">Back</a>
                </div>
            </div>
        </form>
    </div>

</div>