@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
    <div class="content__container">
        <p class="content__container__text">
            Welcome to
        </p>
        <ul class="content__container__list">
            <li class="content__container__list__item">Most</li>
            <li class="content__container__list__item">Common</li>
            <li class="content__container__list__item">Bank of</li>
            <li class="content__container__list__item">Australia!</li>
        </ul>
    </div>
</div>